
PYTHON ASSIGNMENT 
Assignment 1

Q1 

(i)

In [1]:
L = [11, 12, 13, 14]
L.append(50)
L.append(60)
print(L)

[11, 12, 13, 14, 50, 60]

(ii)

In [2]:
L = [11, 12, 13, 14]
L.remove(11)
L.remove(13)
print(L)

[12, 14]

(iii)

In [3]:
L = [11, 12, 13, 14]
L.sort()
print(L)

[11, 12, 13, 14]

(iv)

In [4]:
L = [11, 12, 13, 14]
L.sort(reverse=True)
print(L)

[14, 13, 12, 11]

(v)

In [5]:
L = [11, 12, 13, 14]
if 13 in L:
    print("13 is present in L")
else:
    print("13 is not present in L")

13 is present in L

(vi)

In [6]:
L = [11, 12, 13, 14]
count = len(L)
print("Number of elements in L:", count)

Number of elements in L: 4

(vii)

In [7]:
L = [11, 12, 13, 14]
total_sum = sum(L)
print("Sum of all elements in L:", total_sum)

Sum of all elements in L: 50

(viii)

In [12]:
L = [11, 12, 13, 14]
odd_sum = sum(num for num in L if num % 2 != 0)
print("Sum of odd numbers in L:", odd_sum)

Sum of odd numbers in L: 24

(ix)

In [13]:
L = [11, 12, 13, 14]
even_sum = sum(num for num in L if num % 2 == 0)
print("Sum of odd numbers in L:", even_sum)

Sum of odd numbers in L: 26

(x)

In [10]:
L = [11, 12, 13, 14]
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

prime_sum = sum(num for num in L if is_prime(num))
print("Sum of prime numbers in L:", prime_sum)

Sum of prime numbers in L: 24

(xi)

In [8]:
L = [11, 12, 13, 14]
L.clear()
print(L)

[]

(xii)

In [14]:
L = [11, 12, 13, 14]
del L

Q2

all parts

In [15]:
D = {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.73}
D[8] = 8.8
del D[2]
if 6 in D:
    print("Key 6 is present in D.")
else:
    print("Key 6 is not present in D.")
num_elements = len(D)
print("Number of elements in D:", num_elements)
total_sum = sum(D.values())
print("Sum of values in D:", total_sum)
D[3] = 7.1
D.clear()

print("Updated dictionary D:", D)

Key 6 is not present in D.
Number of elements in D: 5
Sum of values in D: 37.43
Updated dictionary D: {}

Q3

In [16]:
S1 = {10, 20, 30, 40, 50, 60}
S2 = {40, 50, 60, 70, 80, 90}
S1.add(55)
S1.add(66)
S1.remove(10)
S1.remove(30)
if 40 in S1:
    print("40 is present in S1.")
else:
    print("40 is not present in S1.")
union_set = S1.union(S2)
print("Union of S1 & S2:", union_set)
intersection_set = S1.intersection(S2)
print("Intersection of S1 & S2:", intersection_set)
difference_set = S1 - S2
print("S1 - S2:", difference_set)

40 is present in S1.
Union of S1 & S2: {66, 70, 40, 80, 50, 20, 55, 90, 60}
Intersection of S1 & S2: {40, 50, 60}
S1 - S2: {66, 20, 55}

Q4

In [ ]:
import random
for a in range(100):
    string_len = random.randint(6, 8)
    random_string = ''.join(random.choices('abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTWXYZ', k=string_len))
    print(random_string)
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False
    return True

for num in range(600, 801):
    if is_prime(num):
        print(num)
for num in range(100, 1001):
    if num % 7 == 0:
        print(num)

Q5

In [18]:
import random
list1 = random.sample(range(10, 31), 10)
list2 = random.sample(range(10, 31), 10)

print("List 1:", list1)
print("List 2:", list2)
common_numbers = list(set(list1) & set(list2))
print("Common numbers:", common_numbers)
unique_numbers = list(set(list1) ^ set(list2))
print("Unique numbers:", unique_numbers)
minimum = min(min(list1), min(list2))
print("Minimum:", minimum)
maximum = max(max(list1), max(list2))
print("Maximum:", maximum)
total_sum = sum(list1) + sum(list2)
print("Sum of both the lists:", total_sum)

List 1: [24, 12, 18, 26, 22, 11, 27, 23, 19, 25]
List 2: [10, 26, 17, 18, 22, 12, 13, 11, 14, 21]
Common numbers: [11, 12, 18, 22, 26]
Unique numbers: [10, 13, 14, 17, 19, 21, 23, 24, 25, 27]
Minimum: 10
Maximum: 27
Sum of both the lists: 371

Q6

In [ ]:
import random

def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

random_num = random.sample(range(100, 901), 100)
odd_num = []
even_num = []
prime_num = []

for num in random_num:
    if num % 2 == 0:
        even_num.append(num)
    else:
        odd_num.append(num)
    if is_prime(num):
        prime_num.append(num)

print("Odd Nums:")
print(odd_num)
print("Count:", len(odd_num))

print("\nEven Nums:")
print(even_num)
print("Count:", len(even_num))

print("\nPrime Nums:")
print(prime_num)
print("Count:", len(prime_num))

Q7

In [27]:
D = {1: "One", 2: "Two", 3: "Three", 4: "Four", 5: "Five"}
with open("dictionary_outputQ7.txt", "w") as file:
    for key, value in D.items():
        file.write(f"Key{key}, Value{value}\n")
print("Data written to file successfully.")

Data written to file successfully.

Q8

In [28]:
L = ["One", "Two", "Three", "Four", "Five"]
with open("list_outputQ8.txt", "w") as file:
    for element in L:
        length = len(element)
        file.write(f"{element}, {length}\n")

print("Data written to file successfully.")

Data written to file successfully.

Q9

In [21]:
import random
import string

def generate_random_string(length):
    letters = string.ascii_lowercase
    return ''.join(random.choice(letters) for _ in range(length))

file_path = "random_stringsQ9.txt"

with open(file_path, 'w') as file:
    for _ in range(100):
        string_length = random.randint(10, 15)
        random_string = generate_random_string(string_length)
        file.write(random_string + '\n')

print("Random strings have been written to the file:", file_path)

Random strings have been written to the file: random_stringsQ9.txt

Q10

In [22]:
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False
    return True

file_path = "prime_numbersQ10.txt" 

with open(file_path, "w") as file:
    for num in range(600, 801):
        if is_prime(num):
            file.write(str(num) + "\n")
print("Prime numbers have been written to the file:", file_path)

Prime numbers have been written to the file: prime_numbersQ10.txt

Q11

In [23]:
import time
start_time = time.time()
end_time = time.time()
elapsed_time = end_time - start_time

print("Elapsed time: {:.2f} seconds".format(elapsed_time))

Elapsed time: 0.00 seconds

Q12

In [25]:
def calculate_average(marks):
    return sum(marks) / len(marks)
student_marks = {
    "sanya ": [50, 90, 92, 88, 95],
    "priya ": [78, 85, 40, 82, 88],
    "sneha ": [90, 92, 85, 88, 95],
    "kiran": [82, 78, 60, 85, 88],
    "kaiara": [95, 80, 88, 85, 92]
}

average_marks = {}
for student, marks in student_marks.items():
    average_marks[student] = calculate_average(marks)
max_average = max(average_marks.values())
min_average = min(average_marks.values())
students_with_max = [student for student, average in average_marks.items() if average == max_average]
students_with_min = [student for student, average in average_marks.items() if average == min_average]

print("Average Marks:")
for student, average in average_marks.items():
    print(student, ":", average)
    
print("\nMaximum Average Marks:", max_average)
print("Students with maximum average marks:", students_with_max)

print("\nMinimum Average Marks:", min_average)
print("Students with minimum average marks:", students_with_min)

Average Marks:
sanya  : 83.0
priya  : 74.6
sneha  : 90.0
kiran : 78.6
kaiara : 88.0

Maximum Average Marks: 90.0
Students with maximum average marks: ['sneha ']

Minimum Average Marks: 74.6
Students with minimum average marks: ['priya ']